#template-admin {
    
    #wrapper {
        overflow-x: hidden;
    }
    
    #sidebar-wrapper {
        min-height: 100vh;
        margin-left: -15rem;
        -webkit-transition: margin .25s ease-out;
        -moz-transition: margin .25s ease-out;
        -o-transition: margin .25s ease-out;
        transition: margin .25s ease-out;
    }
    
    #sidebar-wrapper .sidebar-heading {
        background: #2E516DFF;
        padding: 0.750rem 1.25rem;
        font-size: 1.2rem;
        color: white;
    }
    
    #sidebar-wrapper .list-group {
        width: 15rem;
    }
    
    #page-content-wrapper {
        min-width: 100vw;
    }
    
    #wrapper.toggled #sidebar-wrapper {
        margin-left: 0;
    }

    .bg-primario {
        background-color: $cor-primaria;
        color: #FFF;
    }

    .bg-secundario {
        background-color: $cor-secundaria;
        color: #FFF;
    }

    .bg-titulo {
        background-color: $cor-titulo;
    }

    .list-group-item {
        background-color: inherit !important;
        color: white;
        &:hover {
            background-color: $cor-primaria !important;
        }
    }

    .nav-bx-shadow {
        box-shadow: 0px 2px 0px rgba(0,0,0,0.4);
    }

    #menu-toggle {
        background-color: $cor-secundaria !important;
    }

    .nav-item a{
        color: white !important;
        &:hover {
            background-color: $cor-primaria;
        }
    }

    .active {
        background-color: $cor-primaria !important;
    }

    .btn-add {
        padding: 0.10rem 0.5rem !important;
        font-size: 0.71rem !important;
    }

    .errors {
        margin-bottom: 0px !important;
        list-style-type: none !important;
    }
    
    @media (min-width: 768px) {
        #sidebar-wrapper {
            margin-left: 0;
        }
        
        #page-content-wrapper {
            min-width: 0;
            width: 100%;
        }
        
        #wrapper.toggled #sidebar-wrapper {
            margin-left: -15rem;
        }
    }
}