#template-publico {
    
    #banner-logo {
        margin: 20px 0;
    }
    
    button:focus {
        outline: 0;
    }
    
    .navbar .dropdown-menu .form-control {
        width: 200px;
    }
    
    .navbar-custom, .footer-copyright {
        background-color: $cor-primaria;
    }
    
    .head-footer {
        background-color: $cor-secundaria;
        color: rgb(255, 255, 255);
    }
    
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text, .footer-copyright {
        color: rgba(255,255,255,.8);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link, .footer-copyright {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link, .footer-copyright {
        color: #ffffff;
    }
}